{% extends 'layout.html' %}
{% block content %}
{{ super() }}
<a href="{{ request.url.path }}?mode={{ mode }}{% if not sort %}&sort=True{% endif %}"><button class="buttons-main btn btn-outline-info">Sort by price</button></a>
<h1 class="text-center fw-light">Pizza</h1>
<table class="bg-warning" cellpadding="5">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price $</th>
        </tr>
    </thead>
    <tbody>
        {% for pizza in piz_menu %}
            <tr>
                <td>{{ pizza.title }}</td>
                <td>{{ pizza.description }}</td>
                <td>{{ pizza.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h1 class="text-center margin_up_high  fw-light">Beverages</h1>
<table class="bg-info" cellpadding="5">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price $</th>
        </tr>
    </thead>
    <tbody>
        {% for beverage in bev_menu %}
            <tr>
                <td>{{ beverage.title }}</td>
                <td>{{ beverage.description }}</td>
                <td>{{ beverage.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}